<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="card">
        <h2 class="card-header text-center">Registration Form</h2>
        <div class="card-body">
          <form>
            <div class="input-group ml-5">
              <div class="input-group-prepend">
                <label class="font-weight-bold mt-1">User Name : &nbsp;</label>
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
              </div>
              <input type="text" style="max-width: 50%" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div><br>
            <div class="input-group ml-5">
              <div class="input-group-prepend">
                <label class="font-weight-bold mt-1">Email &nbsp;&nbsp;: &nbsp;</label>
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="email" style="max-width: 50%" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
            </div><br>
            <div class="input-group ml-5">
              <div class="input-group-prepend">
                <label class="font-weight-bold mt-1">Password &nbsp;&nbsp;: &nbsp;</label>
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" style="max-width: 50%" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
            </div><br>
            <div class="input-group ml-5">
              <div class="input-group-prepend">
                <label class="font-weight-bold mt-1">Confirm Password &nbsp;&nbsp;: &nbsp;</label>
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
              </div>
              <input type="password" style="max-width: 50%" class="form-control" placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon1">
            </div><br>
            <button class="btn btn-success btn-block">Submit</button>
          </form>
        </div>
        <h2 class="card-footer text-center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h2>
      </div>
    </div>
  </div>
</div>