<app-carousel></app-carousel>
<div class="container">
<br>
<table class="table table-striped table-responsive text-center">
  <thead>
  <tr class="text-success" style="background-color:white;font-size:1.1rem">
    <th scope="col" >  Name </th>
    <th scope="col" >  Description </th>
      <th scope="col" >  Image </th>
    <th  scope="col">  Details </th>
    <th scope="col" > Add To card </th>
  </tr>
  </thead>
  <tbody id="myTable">
  <tr *ngFor="let product of prods ">
    <td>{{product.proudctName}}</td>
    <td>{{product.proudctDetail}} </td>
      <td> <img style="width:20% ;height: 20%" src="../../assets/{{product.proudctImage}}"> </td>
    <td><button class="btn btn-info" (click)="productDetails(product.id)"> Details </button></td>
    <td><button class="btn btn-success"(click)="addCart(product.id)" >  To Cart </button></td>

  </tr>
  </tbody>
</table>
</div>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>