<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home" > Otlob </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"  routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders"  *ngIf="auth.isLoggednIn()" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products"  routerLinkActive="active">Products</a>
      </li>
      <form class="form-inline my-2 my-lg-0 ml-4">
        <input id="myInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
    <button   class="btn btn-info ml-2 mr-2" *ngIf="!auth.isLoggednIn()" routerLink="/register">Register</button>
    <button  class="btn btn-success ml-2 mr-2" *ngIf="!auth.isLoggednIn()" routerLink="/login">Login</button>
    <button  class="btn btn-info ml-2 mr-2" *ngIf="auth.isLoggednIn()" (click)="auth.logout()">Logout</button>
  <div style="position: relative">
    <a routerLink="cartproducts" >
      <span class="badge badge-info" style="position:absolute;right: 40%;">{{getcounter()}}</span>
      <i class=" mt-3 fa fa-shopping-cart" style="font-size:40px;color:white"></i>
    </a>
  </div>
  </div>
</nav>
